<footer>
    <div class="footer-info">
        <div class="footer-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="">
            &copy:hemanoram private limited
        </div>
        <div class="footer-info-links">
            <a href="/">privacy</a>
            <a href="/">terms</a>
        </div>
    </div>

</footer>