<nav class="navbar navbar-expand-lg bg-body-white sticky-top mb-3 navbar" style="background-color:white">
    <div class="container-fluid ms-2 px-2 ">
      <a class="navbar-brand logo" href="#"><img src="/images/logo.png" class="logo-image"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse namebox" style="background-color: white;" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item px-5">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="/whatwedo">what we do / History</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="/rangeofservices">range of services</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link"  href="/esteemed-partners">Our esteemed partners</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>