<% layout("/layouts/boilerplate") -%>

<body>
    <div class="contact-us">
        <div class="contact-us-image">
            <img src="/images/contact-us.jpg" class="contact-image">
            <div class="contact-us-text">
                <p>contact-us</p>
            </div>
        </div>
        <div class="container">
            <div class="people-text">
                <p>people</p>
            </div>
            <div class="people">
                <div class="introduction">
                    <!-- <h2>sudheeer kumar dwivedi</h2> -->
                </div>
                <div class="introduction-image">

                </div>
                
            </div>
            <div class="people">
                <div class="introduction">
                    <!-- <h2>sudheeer kumar dwivedi</h2> -->
                </div>
                <div class="introduction-image">

                </div>
                
            </div>
            <div class="office-text">
                <p>office</p>
            </div>
            <div class="office">
                <div class="office-address">
                    <!-- <h2>sudheeer kumar dwivedi</h2> -->
                </div>
                <div class="office-image">

                </div>
                
            </div>
        </div>
        
    </div>

</body>