<% layout("/layouts/boilerplate") -%>

<body>
    <div class="contact-us">
        <div class="contact-us-image">
            <img src="/images/contact-us.jpg" class="contact-image">
            <div class="contact-us-text">
                <p>our esteemed partners</p>
            </div>
        </div>
        <div class="container" style="font-family: sans-serif;font-size:20px;">
            <div class="company-text">
                <div class="company-name1">
                    company-name
                </div>
                <div class="product">
                    products
                </div>
            </div>
            <hr>
            <div class="company">
                <div class="company-name">
                    Abacus Valve, UK
                </div>
                <div class="company-product">
                    (Monel/Titanium) Twin Plate Wafer Check Valves 1½” – 72”/Up to 2500#,
                     Swing Type Wafer Check Valves ½”– 72” /Up to 2500#, Sprung Disc Wafer Check Valves ½” – 12”/Up to 2500  & Nozzle Check Valves ½” – 24”/Up to 2500
                    <!-- <img src="/images/product1.png"> -->
                    <div class="product-image">
                        <div class="product-image1">
                        <img src="/images/product1.png" style="height:100%;width:70%;">
                        </div>
                        <div class="product-image2">
                            <img src="/images/product2.png" style="height:100%;width:70%;">
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <hr>
            <div class="company">
                <div class="company-name">
                    KACE Valve, USA

                </div>
                <div class="company-product">
                    Ball valves ½” – 48” (Floating, Trunnion Mounted, Metal Seated, Cryogenic, 3-Piece  Up to 1500# for Cryogenic/ Slurry application & Custom Ball valves
                    <div class="product-image">
                        <div class="product-image1">
                        <img src="/images/product3.png" style="height:100%;width:70%;">
                        </div>
                        <div class="product-image2">
                            <img src="/images/product4.png" style="height:100%;width:70%;">
                        </div>
                    </div>
                </div>
                
            </div>
            <hr>
            <div class="company">
                <div class="company-name">
                    FAUDI,GERMANY
                </div>
                <div class="company-product">
                    Filtration and separation technology.<br>
                    Feed filters,  high-performance filtration systems for treatment -
                    <ul>
                        <li>Filtration of solids from liquids and gases</li>
                        <li>Separation of gases from liquids</li>
                        <li>Separation of liquids from gases</li>
                        <li>Separation of liquid phases with different densities, viscosities and surface tensions</li>
                    </ul>





                </div>
            </div>
            <hr>
            <div class="company">
                <div class="company-name">
                    STE, China<br><br><br>
                    KISST Korea 


                </div>
                <div class="company-product">
                    Customized Skids & Cable Trays for Offshore-Onshore application, Finned tubes
                    <br><br><br><br><br>
                    Insulating tubing .

                </div>
            </div>
            <hr>
            <div class="founder-text">
                <p>founder</p>
            </div>
            <hr>
            
            <div class="founder">
                <div class="founder-name">
                    <p><i>Sudhir kumar dwivedi</i></p>
                    
                    <p class="founder-lines">Hello everyone, I'm honored to stand before you as the founder of Hemanoram pvt ltd, where our mission is to redefine the standards of success in sales. With a passion for innovation and a dedication to excellence, I've embarked on this journey to not only achieve greatness but to empower each of you to reach your fullest potential. Together, we will navigate the dynamic landscape of sales, turning challenges into opportunities, and forging ahead with unwavering determination. Thank you for entrusting me with the privilege of leading this remarkable team towards unparalleled success.</p>
                </div>
                <div class="founder-image">
                    <img src="/images/founder.jpg" class="founder-image1">
                </div>
                
            </div>
            <hr>
            <div class="office">
                <div class="office1">
                    <p id="head-office">head office</p>
                    
                    <p id="address1">515A,3rd floor,<br>
                    Deep plaza,distt.Court,gurugram<br>Haryana
                    </p>
                </div>
                <div class="office2">
                    <p id="branch-office">branch office</p>
                    <p id="address2">Noida,vadodara<br>
                    Mumbai,Nagpur(india)<br>
                    and UK also.</p>
                </div>

            </div>
        </div>
        
    </div>

</body>