<% layout("/layouts/boilerplate") -%>
    <body>
        <div class="image">
            <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active c-item">
                  <img src="/images/image1.jpg" class="d-block w-100 c-image" alt="...">
                  <div class="carousel-caption top-0 mt-5 pt-5 ">
                    <h1>HEMMANORAM PVT. LTD.</h1>
                    <h5>Your Global Trade Partner, Seamless Imports, Effortless Exports!</h5>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="/images/image2.webp" class="d-block w-100 c-image" alt="...">
                  <div class="carousel-caption top-0 mt-5 pt-5 ">
                    <h2>From Origin to Destination, We Handle it All!</h2>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="/images/image3.jpg" class="d-block w-100 c-image" alt="...">
                  <div class="carousel-caption top-0 mt-5 pt-5">
                    <h2>Where Imports Meet Excellence, and Exports Ignite Growth!</h2>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        <div class="container1">
            <div class="main-content">
                <div class="about-us">
                    <h3>About-us</h3>
                </div>
                <div class="content">
                  We take this opportunity to introduce ourselves as a representative company looking after the business interest of overseas manufactures/suppliers in the indian market.Our company hemmanoram solutions Pvt Ltd,we have concentrated our activities in the fields of oil refining,gas processing plants,petrochemichal plants,gas and oil pipelines,on-offshore project,fertilizer plants etc.We are working for companies from USA,UK,italy,Korea,Japan and more.
                  <br><br>
                  <h3>HSPL (Hemmanoram solutions private limited) offers their  principal in</h3>
                  <div id="principal">
                    

                    <ul>
                      <li>introduction of product and to keep track of new project in the market,day-to-day development on jobs quoted.</li>
                      <li>To arrange meeting/presentation with the clients to help in booking of order as well as to help in smooth execution of order.</li>
                      <li>Wherever required sourcing of material as well as engineering services from india to become price-wise competetive to help if required in setting up engineering drifting and after sales office in india.</li>
                    </ul>
                  </div>
                  
                  
                  
                </div>
            </div>
        </div>
        
    </body>