<% layout("/layouts/boilerplate") -%>
    <body>
        <div class="image">
            <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active c-item">
                  <img src="/images/image1.jpg" class="d-block w-100 c-image" alt="...">
                  <div class="carousel-caption top-0 mt-5 pt-5">
                    <h1>HEMANORAM PVT. LTD.</h1>
                    <h5>a partner of choice to locate and source global technologies.</h5>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="/images/image2.webp" class="d-block w-100 c-image" alt="...">
                </div>
                <div class="carousel-item c-item">
                  <img src="/images/image3.jpg" class="d-block w-100 c-image" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        <div class="container">
            <div class="main-content">
                <div class="about-us">
                    <h3>About-us</h3>
                </div>
                <div class="content">
                  Established for over 30 years, Allport has been instrumental in conceptualising and adapting global technologies to develop in the Indian Market. Originating in the UK, Allport opened its first office in India in 1991. With rich experience across the core industrial sectors, Allport provides a wide range of services with a track record of working with most major engineering companies, EPC contractors and end-users in India.
                  <br>

                  Hemanoram is focussed on identifying India's technology needs today, for the future and then efficiently working to source and deliver these in a cost-effective manner. In addition to sourcing Allport is committed to providing support and services including sales and marketing, sourcing, engineering support, site services and allied services to add value to its customers and global partners.
                  
                </div>
            </div>
        </div>
        
    </body>