<% layout("/layouts/boilerplate") -%>

<body>
    <div class="range-of-services">
        <div class="range-image-box">
            <img src="/images/range-of-services.jpg" class="range-image">
            <div class="range-text">
                <p>RANGE OF SERVICES</p>
            </div>
        </div>
        <div class="container">
            <div class="range-content1">
                <div class="content1">
                    <div class="heading">
                        division sales
                    </div>
                    <div class="text">
                        <ul>
                            <li>Sales and Marketing Support for International Technologies</li>
                            <li>Development of Business in the Indian & SE Asian Region</li>
                            <li>Technical Support, Prequalification, Local Approvals and Logistical Support</li>
                            <li>Introduce, Implement and Grow High end Technologies in India</li>
                            <li>Strategic Planning, Development, Pre-Order & Post Order</li>
                        </ul>
                    </div>
        
                </div>
                <div class="content-image">
                    <img class="range-image1" src="/images/rangeservice1.jpeg">
                </div>
                    
            </div>
            <div class="range-content1">
                <div class="content1">
                    <div class="heading">
                        Procurement division 
                    </div>
                    <div class="text">
                        <ul>
                            <li>Global Procurement for End Users & Contractors</li>
                            <li>Locate and support special international technologies & vendors</li>
                            <li>Assistance in Inspection and Expediting</li>
                            <li>Procurement of Components and Local Services</li>
                            <li>Providing Logistical Support</li>
                        </ul>

                    </div>
        
                </div>
                <div class="content-image">
                    <img class="range-image1" src="/images/rangeservice2.jpeg">
                </div>
                    
            </div>
            <div class="range-content1">
                <div class="content1">
                    <div class="heading">
                        After Sales Support & Logistics Division
                    </div>
                    <div class="text">
                        <ul>
                            <li>Carrying & Forwarding, Warehousing & Distribution Services</li>
                            <li>Installation, Maintenance & Commissioning Services</li>
                            <li>Execution of Service and Annual Maintenance Contracts</li>
                            <li>Global Procurement of Spares</li>
                            <li>Repair & Refurbishment Services</li>
                        </ul>
                    </div>
        
                </div>
                <div class="content-image">
                    <img class="range-image1" src="/images/rangeservice3.jpeg">
                </div>
                    
            </div>
            <div class="range-content1">
                <div class="content1">
                    <div class="heading">
                        Engineering Design & Business Support Services Division
                    </div>
                    <div class="text">
                        <ul>
                            <li>Development of Proposals</li>
                            <li>Detailed Engineering Design</li>
                            <li>Engineering of Packages</li>
                        </ul>
                        
                    </div>
                </div>
                <div class="content-image">
                    <img class="range-image1" src="/images/rangeservice4.jpeg">
                </div>
                    
            </div>
            
        </div>
        
        
    </div>
    


</body>