<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="what-we-do">
            <img src="/images/what-we-do.jpg" class="we-do-image">
            <p class="we-do-text">WHAT WE DO</p>
        </div>
        <div class="container" style="font-size:20px;margin-top:15px;">
            <p>
                Hemanoram provides services principally targeted to add value to the key stakeholders in the supply chain and service industry:<br><br>

                - <b>Manufacturers, developers and Service Providers of advanced  global technologies and companies</b><br>

                - <b>Direct or Support Services for Purchasers and designers of high quality and cost-effective products and services</b><br><br>

                As a result-oriented organisation Allport provide services tailored to its partners, specific project requirements to assist them to achieve their business targets and add value across their activity. On the one hand as service providers this typically includes activities such as market analysis, techno-commercial support, project execution, local sourcing support, logistics and site services.<br><br>

                At the same time Hemanoram works closely with the Indian industry to identify and deliver global technology solutions, source material and effective provide cost-effective procurement solutions. Allport’s ability to adapt its support is well recognised thanks to the trust of its partners, based on which Allport has been involved in prestigious national and international projects in various capacities.<br><br>

                Allport always welcome hearing from potential global and Indian partner companies and is committed to adding value based on strong ethical values.

            </p>
        </div>
        
            
        
        
         
        
    </body>
