<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="what-we-do-content">
            <div class="what-we-do">
                <img src="/images/what-we-do.jpg" class="we-do-image">
                <p class="we-do-text">WHAT WE DO</p>
            </div>
            <div class="container" style="font-size:20px;margin-top:15px;">
                <p class = "we-do-content">
                    Hemmanoram provides services principally targeted to add value to the key stakeholders in the supply chain and service industry:<br><br>
    
                    - <b>Manufacturers, developers and Service Providers of advanced  global technologies and companies</b><br>
    
                    - <b>Direct or Support Services for Purchasers and designers of high quality and cost-effective products and services</b><br><br>
    
                    As a result-oriented organisation HSPL provide services tailored to its partners, specific project requirements to assist them to achieve their business targets and add value across their activity. On the one hand as service providers this typically includes activities such as market analysis, techno-commercial support, project execution, local sourcing support, logistics and site services.<br><br>
    
                    At the same time Hemmanoram works closely with the Indian industry to identify and deliver global technology solutions, source material and effective provide cost-effective procurement solutions. Allport’s ability to adapt its support is well recognised thanks to the trust of its partners, based on which Allport has been involved in prestigious national and international projects in various capacities.<br><br>
    
                    Hemmanoram always welcome hearing from potential global and Indian partner companies and is committed to adding value based on strong ethical values.
    
                </p>
                <hr>
                <h2 style="text-align:center">History</h2>
                <hr>
    
            </div>
            <div class="container" style="font-size:20px;margin-top:15px;">
                <ul class="we-do-content">
                    <li>Established in 2018 originally in the UK as a management consultancy (lLC).</li>
                    <li>We got registed in 2018 as PVT LTD company.</li>
                    <li>Consultancy services based on project conceptualization, arranging joint venture partners, managing investments and technology transfer.</li>
                    <li>Promoted by professionals with over 15 years experience.</li>
                    <li>Offices in Gurugram, Mumbai & associate office in the UK.</li>
                </ul>
            </div>
            
        </div>
        
            
        
        
         
        
    </body>
